parameters:
	ignoreErrors:
		-
			message: "#^Call to method getSetupArray\\(\\) on an unknown class TYPO3\\\\CMS\\\\Core\\\\TypoScript\\\\FrontendTypoScript\\.$#"
			count: 1
			path: Classes/ContentObject/ContentElementWrap.php

		-
			message: "#^Class TYPO3\\\\CMS\\\\Core\\\\TypoScript\\\\FrontendTypoScript not found\\.$#"
			count: 1
			path: Classes/ContentObject/ContentElementWrap.php

		-
			message: "#^Cannot call method getAttribute\\(\\) on Psr\\\\Http\\\\Message\\\\ServerRequestInterface\\|null\\.$#"
			count: 2
			path: Classes/ContentObject/TopwireContentObject.php

		-
			message: "#^Cannot call method withAttribute\\(\\) on Psr\\\\Http\\\\Message\\\\ServerRequestInterface\\|null\\.$#"
			count: 1
			path: Classes/ContentObject/TopwireUserContentObject.php

		-
			message: "#^Instanceof between TYPO3\\\\CMS\\\\Frontend\\\\ContentObject\\\\ContentObjectRenderer and TYPO3\\\\CMS\\\\Frontend\\\\ContentObject\\\\ContentObjectRenderer will always evaluate to true\\.$#"
			count: 1
			path: Classes/ContentObject/TopwireUserContentObject.php

		-
			message: "#^Parameter \\#2 \\$id of class Topwire\\\\Context\\\\ContextRecord constructor expects int, int\\|string given\\.$#"
			count: 2
			path: Classes/Context/TopwireContextFactory.php

		-
			message: "#^Parameter \\#3 \\$pageId of class Topwire\\\\Context\\\\ContextRecord constructor expects int, int\\|string given\\.$#"
			count: 3
			path: Classes/Context/TopwireContextFactory.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Request\\. Use \\-\\> instead\\.$#"
			count: 1
			path: Classes/Fluid/View/TopwireTemplateView.php

		-
			message: "#^Method Topwire\\\\Typolink\\\\TopwirePageLinkBuilder\\:\\:build\\(\\) should return TYPO3\\\\CMS\\\\Frontend\\\\Typolink\\\\LinkResultInterface but returns array\\|TYPO3\\\\CMS\\\\Frontend\\\\Typolink\\\\LinkResultInterface\\.$#"
			count: 1
			path: Classes/Typolink/TopwirePageLinkBuilder.php

		-
			message: "#^Call to method getConfiguration\\(\\) on an unknown class TYPO3\\\\CMS\\\\Frontend\\\\Event\\\\ModifyPageLinkConfigurationEvent\\.$#"
			count: 1
			path: Classes/Typolink/TopwirePageLinkModifier.php

		-
			message: "#^Call to method getLinkDetails\\(\\) on an unknown class TYPO3\\\\CMS\\\\Frontend\\\\Event\\\\ModifyPageLinkConfigurationEvent\\.$#"
			count: 1
			path: Classes/Typolink/TopwirePageLinkModifier.php

		-
			message: "#^Call to method getQueryParameters\\(\\) on an unknown class TYPO3\\\\CMS\\\\Frontend\\\\Event\\\\ModifyPageLinkConfigurationEvent\\.$#"
			count: 1
			path: Classes/Typolink/TopwirePageLinkModifier.php

		-
			message: "#^Call to method setQueryParameters\\(\\) on an unknown class TYPO3\\\\CMS\\\\Frontend\\\\Event\\\\ModifyPageLinkConfigurationEvent\\.$#"
			count: 1
			path: Classes/Typolink/TopwirePageLinkModifier.php

		-
			message: "#^Parameter \\$linkConfigurationEvent of method Topwire\\\\Typolink\\\\TopwirePageLinkModifier\\:\\:modifyQueryParameters\\(\\) has invalid type TYPO3\\\\CMS\\\\Frontend\\\\Event\\\\ModifyPageLinkConfigurationEvent\\.$#"
			count: 1
			path: Classes/Typolink/TopwirePageLinkModifier.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Request\\. Use \\-\\> instead\\.$#"
			count: 1
			path: Classes/ViewHelpers/Context/ContentElementViewHelper.php

		-
			message: "#^Call to function assert\\(\\) with true will always evaluate to true\\.$#"
			count: 1
			path: Classes/ViewHelpers/Context/PluginViewHelper.php

		-
			message: "#^Instanceof between TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Request and Psr\\\\Http\\\\Message\\\\ServerRequestInterface will always evaluate to true\\.$#"
			count: 1
			path: Classes/ViewHelpers/Context/PluginViewHelper.php

		-
			message: "#^Call to function assert\\(\\) with true will always evaluate to true\\.$#"
			count: 1
			path: Classes/ViewHelpers/Context/RenderViewHelper.php

		-
			message: "#^Instanceof between TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Request and Psr\\\\Http\\\\Message\\\\ServerRequestInterface will always evaluate to true\\.$#"
			count: 1
			path: Classes/ViewHelpers/Context/RenderViewHelper.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Request\\. Use \\-\\> instead\\.$#"
			count: 1
			path: Classes/ViewHelpers/Context/RenderViewHelper.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Request\\. Use \\-\\> instead\\.$#"
			count: 1
			path: Classes/ViewHelpers/ContextViewHelper.php

		-
			message: "#^Call to function assert\\(\\) with true will always evaluate to true\\.$#"
			count: 1
			path: Classes/ViewHelpers/Turbo/FrameViewHelper.php

		-
			message: "#^Instanceof between TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Request and Psr\\\\Http\\\\Message\\\\ServerRequestInterface will always evaluate to true\\.$#"
			count: 1
			path: Classes/ViewHelpers/Turbo/FrameViewHelper.php
